@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Secular One', sans-serif;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.j-between {
  justify-content: space-between;
}

.a-center {
  text-align: center;
}

.opacity {
  color: #888;
}
